.singlerecipe {
  margin: 14px 0 0;
}

.singlerecipe .nimg {
  margin: 0 auto;
  width: 30%;
}

.singlerecipe ul {
  padding-left: 24px;
}

.singlerecipe li {
  margin: 0;
  padding: 0.4em;
}                     

.recipetitle {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.singlerecipe span {
  font-weight: bold;
  margin-right: 10px;
}
