.logo {
  display: inline-block;
  height: 90px;
  vertical-align: middle;
  width: 90px;
}

.header {
  background-color: #EA8F8F;
  color: #1B1B2C;
  padding: 14px 0;
}

.app-header {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.navs {
  margin: 10px 0 16px;
  text-align: center;
}


.navs li {
  display: inline-block;
  margin: 0 10px;
}
