.createRecipeBtn{
    padding: 10px 0px 0px 10px;
    left: 45%;
    top: 25%;
    width: 170px;
    background-color:#EA8F8F; /* Green */
    color: rgb(10, 2, 29);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    position:absolute;
    


}
.createRecipeBtn:hover{
    background-color: rgb(235, 121, 121);
}

@media only screen and (min-width: 768px) {
    .createRecipeBtn  {
        width: 20%;
        left: 35%;
        top: 15%;
    } 
} 

@media only screen and (min-width: 360px) {
    .createRecipeBtn  {
        width: 28%;
        left: 40%;
        top: 25%;
    } 
} 

@media only screen and (min-width: 1200px) {
    .createRecipeBtn  {
        width: 20%;
        left: 40%;
        top: 25%;
    } 
} 