.search_bar {
  position: relative;
}

.background_img{
  background-repeat: no-repeat;
  background-position: 50px 50px;
  padding: 1px;
  width: 99%;
  height:350px;
  font-size: 1em;
  padding: 25px 20px 20px 10px;
  margin-left:10px;
  opacity: 0.8;
}

.search_box {
  color: #101111;
  font-size: 15pt;
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translateX(-50%);
  width: 400px;
}
.transparent{
  display:none;
  visibility:hidden;
}

.search_input {
  background: #f3f3f3;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 8px;
  padding: 10px 24px;
  width: 400px;
}

.search_box input#search::-webkit-input-placeholder {
  color: #65737e;
}

.search_box input#search:-moz-placeholder {
  color: #65737e;
}

.search_box input#search::-moz-placeholder {
  color: #65737e;
}

.search_box input#search:-ms-input-placeholder {
  color: #65737e;
}

.search_box input#search:hover, .search_box input#search:focus, .search_box input#search:active{
  outline:none;
  background: #ffffff;
  }

.search_results{
  background: #fdfdfd;
  font-weight: bold;
  font-size: 16px;
  margin-top: -10px;
  padding: 24px 0 12px;
  width: 100%;

}
.recipes{
  width: 1000px;
	height: 1400px;
	background:rgb(237, 247, 195);
	position: absolute;
	top: 1px;
  padding-left: 0;
  margin-top:-70%;
  margin-left: -150%;

 
}

/* 
@media only screen and (min-width: 360px) {
    .search_box { 
  left: 50%;
  top: 45%;
  width: 200px;
}
.search_input {
  width: 200px;
}
    }  */



