.search_bar {
  position: relative;
}

.background_img{
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 1px;
    width: 100%;
    height:350px;
    font-size: 1em;
    padding: 10px 0px 0px 10px;
    margin: auto;
}

.search_box {
  color: #101111;
  font-size: 15pt;
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translateX(-50%);
  width: 400px;
}

.search_input {
  background: #f3f3f3;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 8px;
  padding: 10px 24px;
  width: 100%;
}

.search_box input#search::-webkit-input-placeholder {
   color: #65737e;
}

.search_box input#search:-moz-placeholder {
   color: #65737e;
}

.search_box input#search::-moz-placeholder {
   color: #65737e;
}

.search_box input#search:-ms-input-placeholder {
   color: #65737e;
}

.search_box input#search:hover, .search_box input#search:focus, .search_box input#search:active{
    outline:none;
    background: #ffffff;
  }

.search_results{
    background: #fdfdfd;
    font-weight: bold;
    font-size: 16px;
    margin-top: -14px;
    padding: 24px 0 12px;
    width: 100%;
}
