.search_bar {
  padding: 20px 0;
}

/* .search_box {
  color: #101111;
  font-size: 15pt;
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translateX(-50%);
  width: 200px;
} */

.search_input {
  background: #f3f3f3;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  width: 200px;
}
