.searchbar {
  margin: 0 auto;
  width: 80%;
}

.searchbar input {
  background: #f3f3f3;
  border: none;
  outline: none;
  padding: 10px;
  width: 80%;
}

.searchbar button {
  background: #f29f01;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  width: 20%;
}
